<div class="row">
  <div class="col-md-12">
    <rz-form #form0 [data]="product" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-integer-form-field property="Id" [required]="true" title="Id" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-string-form-field property="ProductName" [required]="false" title="Product Name" requiredText="is required" type="string">
      </rz-string-form-field>
      <rz-file-form-field property="ProductPicture" [required]="false" title="Product Picture" requiredText="is required" type="file">
      </rz-file-form-field>
      <rz-number-form-field property="ProductPrice" [required]="false" title="Product Price" requiredText="is required" type="number">
      </rz-number-form-field>
    </rz-form>
  </div>
</div>
