@using BlazorDragAndDrop.App.Services
@inject DragAndDropService DragAndDropService
@typeparam T
<div ondragover="event.preventDefault()" ondrop="@OnDrop">
    @ChildContent
</div>
@functions {
    [Parameter]
    RenderFragment ChildContent { get; set; }

    [Parameter]
    string Zone { get; set; }

    [Parameter]
    Action<T> Drop { get; set; }

    void OnDrop()
    {
        if (Drop != null && DragAndDropService.Accepts(Zone))
        {
            Drop((T)DragAndDropService.Data);
        }
    }
}