<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" [style]="{'marginLeft':'10px'}" text="Orders by Employee: {{order?.Employee?.FirstName}} {{order?.Employee?.LastName}}">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Add" [allowAdd]="false" [allowDelete]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getNorthwindOrdersCount" [data]="getNorthwindOrdersResult" emptyText="No records to display." (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column format="date-time" property="OrderDate" title="Order Date" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.OrderDate | utcDate}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="date-time" property="RequiredDate" title="Required Date" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.RequiredDate | utcDate}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="date-time" property="ShippedDate" title="Shipped Date" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.ShippedDate | utcDate}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="double" property="Freight" title="Freight" type="number">
        </rz-grid-column>
        <rz-grid-column property="ShipName" title="Ship Name" type="string">
        </rz-grid-column>
        <rz-grid-column property="ShipAddress" title="Ship Address" type="string">
        </rz-grid-column>
        <rz-grid-column property="ShipCity" title="Ship City" type="string">
        </rz-grid-column>
        <rz-grid-column property="ShipRegion" title="Ship Region" type="string">
        </rz-grid-column>
        <rz-grid-column property="ShipPostalCode" title="Ship Postal Code" type="string">
        </rz-grid-column>
        <rz-grid-column property="ShipCountry" title="Ship Country" type="string">
        </rz-grid-column>
        <rz-grid-column [filterable]="false" [sortable]="false" width="140px">
          <ng-template let-data gridColumnTemplate>
            <rz-button #button0 text="Details" (click)="button0Click($event, data)">
            </rz-button>
          </ng-template>
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
