<!doctype html>
<html>
  <head>
  </head>
  <body>
    <p>
      This is the server-side part of the BlazorCRMWasm application. It exposes your SQL data sources as OData services.
    </p>
    <p>
      To see the client-side go to <a href="https://localhost:5001/">https://localhost:5001/</a>.
    </p>
  </body>
</html>
