<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-integer-form-field property="Quantity" [required]="true" title="Quantity" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="integer">
        </rz-integer-form-field>
        <rz-lookup-form-field [data]="getProductsResult" property="ProductId" [required]="false" textProperty="ProductName" title="Product" valueProperty="Id" placeholder="Choose Product" requiredText="is required" type="lookup">
        </rz-lookup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
