<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Customer Customer Demos">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 [allowDelete]="true" [allowAdd]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getCustomerCustomerDemosCount" [data]="getCustomerCustomerDemosResult" emptyText="No records to display." addText="Add" (loadData)="grid0LoadData($event)" (delete)="grid0Delete($event)" (add)="grid0Add($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="CustomerID" sortProperty="Customer.CustomerID" filterProperty="Customer.CustomerID" title="Customer" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.Customer?.CustomerID}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column property="CustomerTypeID" sortProperty="CustomerDemographic.CustomerTypeID" filterProperty="CustomerDemographic.CustomerTypeID" title="Customer Demographic" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.CustomerDemographic?.CustomerTypeID}}
          </ng-template>
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
