<rz-content #content1 container="main">
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #closeLabel [style]="{'fontWeight':'bold'}" text="Item no longer available." *ngIf="!canEdit">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #closeButton buttonStyle="secondary" [style]="{'marginBottom':'20px'}" text="Close" *ngIf="!canEdit" (click)="closeButtonClick($event)">
      </rz-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="customercustomerdemo" *ngIf="canEdit" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-lookup-form-field [data]="getCustomersResult" property="CustomerID" [required]="true" textProperty="CompanyName" title="Customer" valueProperty="CustomerID" placeholder="Choose Customer" requiredText="is required" type="lookup">
        </rz-lookup-form-field>
        <rz-lookup-form-field [data]="getCustomerDemographicsResult" property="CustomerTypeID" [required]="true" textProperty="CustomerDesc" title="Customer Demographic" valueProperty="CustomerTypeID" placeholder="Choose CustomerDemographic" requiredText="is required" type="lookup">
        </rz-lookup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
