<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Territories by Region: {{territory?.Region?.RegionDescription}}">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Add" [allowAdd]="false" [allowDelete]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getTerritoriesCount" [data]="getTerritoriesResult" emptyText="No records to display." (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="TerritoryDescription" title="Territory Description" type="string">
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
