<rz-header #header0>
  <div class="row justify-content-start align-items-center">
    <div class="col-md-6 d-flex align-items-center">
      <rz-sidebar-toggle #sidebarToggle0>
      </rz-sidebar-toggle>
      <rz-label #label0 text="Radzen Northwind Demo">
      </rz-label>
    </div>
    <div class="col-md-6 text-lg-right">
      <rz-profilemenu #profilemenu0 *ngIf="security?.isAuthenticated()" (click)="profilemenu0Click($event)">
        <rz-profilemenu-item path="profile" icon="settings" text="Profile" *ngIf="security?.isInRole(['Authenticated'])">
        </rz-profilemenu-item>
        <rz-profilemenu-item path="application-users" icon="person" text="Users" *ngIf="security?.isInRole(['admin'])">
        </rz-profilemenu-item>
        <rz-profilemenu-item path="application-roles" icon="security" text="Roles" *ngIf="security?.isInRole(['admin'])">
        </rz-profilemenu-item>
        <rz-profilemenu-item text="Logout" icon="power_settings_new">
        </rz-profilemenu-item>
        <ng-template let-data profilemenuTemplate>
          <rz-gravatar #gravatar1 [email]="security?.user?.name">
          </rz-gravatar>
        </ng-template>
      </rz-profilemenu>
    </div>
  </div>
</rz-header>
<rz-body #body0>
  <rz-content-container #main name="main">
  </rz-content-container>
</rz-body>
<rz-sidebar #sidebar0>
  <rz-panelmenu #panelmenu0 [style]="{'height':'100%'}">
    <rz-panelmenu-item path="dashboard" text="Dashboard" *ngIf="security?.isInRole(['Everybody'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item path="login" text="Login" *ngIf="!security?.isAuthenticated()">
    </rz-panelmenu-item>
    <rz-panelmenu-item path="categories" text="Categories" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item path="customers" text="Customers" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item path="employees" text="Employees" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item path="orders" text="Orders" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item path="order-details" text="Order Details" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item path="products" text="Products" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item path="regions" text="Regions" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item path="suppliers" text="Suppliers" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item path="territories" text="Territories" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
  </rz-panelmenu>
</rz-sidebar>
<rz-footer #footer0>
  <rz-link #link0 path="https://github.com/akorchev/radzen" text="Source Code">
  </rz-link>
</rz-footer>
<router-outlet></router-outlet>
