@page "/add-role-permission"
@layout MainLayout
@inherits NorthwindBlazor.Pages.AddRolePermissionComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent @ref="content1" Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" Data="@(rolepermission)" Visible="@(rolepermission != null)" TItem="RolePermission" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem;" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label1" Text="Role Name" Component="RoleName" style="width: 100%;">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="roleName" MaxLength="128" style="display: block; width: 100%;" Name="RoleName">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="roleNameRequiredValidator" Component="RoleName" Text="RoleName is required" style="position: absolute;">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem;" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label2" Text="Permission Id" Component="PermissionId" style="width: 100%;">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="permissionId" MaxLength="322" style="display: block; width: 100%;" Name="PermissionId">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="permissionIdRequiredValidator" Component="PermissionId" Text="PermissionId is required" style="position: absolute;">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton @ref="button1" ButtonType="submit" Icon="save" Text="Save" ButtonStyle="primary">
                </RadzenButton>
                <RadzenButton @ref="button2" ButtonStyle="light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
