@page "/add-region"
@layout MainLayout
@inherits NorthwindBlazor.Pages.AddRegionComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent @ref="content1" Container="main">
  <ChildContent>
    <div class="row">
      <div class="col-md-12">
        <RadzenTemplateForm @ref="form0" Data="@(region)" Visible="@(region != null)" TItem="Region" Submit="@Form0Submit">
          <ChildContent>
            <div style="margin-bottom: 1rem;" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label1" Text="Region ID" Component="RegionID" style="width: 100%;">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenNumeric @ref="regionId" style="display: block; width: 100%;" Name="RegionID" TItem="int">
                </RadzenNumeric>
                <RadzenRequiredValidator @ref="regionIdRequiredValidator" Component="RegionID" Text="RegionID is required" style="position: absolute;">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div style="margin-bottom: 1rem;" class="row">
              <div class="col-md-3">
                <RadzenLabel @ref="label2" Text="Region Description" Component="RegionDescription" style="width: 100%;">
                </RadzenLabel>
              </div>
              <div class="col-md-9">
                <RadzenTextBox @ref="regionDescription" MaxLength="50" style="display: block; width: 100%;" Name="RegionDescription">
                </RadzenTextBox>
                <RadzenRequiredValidator @ref="regionDescriptionRequiredValidator" Component="RegionDescription" Text="RegionDescription is required" style="position: absolute;">
                </RadzenRequiredValidator>
              </div>
            </div>
            <div class="row">
              <div class="col offset-sm-3">
                <RadzenButton @ref="button1" ButtonType="submit" Icon="save" Text="Save" ButtonStyle="primary">
                </RadzenButton>
                <RadzenButton @ref="button2" ButtonStyle="light" Text="Cancel" Click="@Button2Click">
                </RadzenButton>
              </div>
            </div>
          </ChildContent>
        </RadzenTemplateForm>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
