@page "/alphabetical-list-of-products"
@layout MainLayout
@inherits NorthwindBlazor.Pages.AlphabeticalListOfProductsComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Alphabetical List Of Products">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getAlphabeticalListOfProductsResult" TItem="NorthwindBlazor.Models.Northwind.AlphabeticalListOfProduct">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.AlphabeticalListOfProduct" Property="ProductID" Title="Product ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.AlphabeticalListOfProduct" Property="ProductName" Title="Product Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.AlphabeticalListOfProduct" Property="SupplierID" Title="Supplier ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.AlphabeticalListOfProduct" Property="CategoryID" Title="Category ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.AlphabeticalListOfProduct" Property="QuantityPerUnit" Title="Quantity Per Unit">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.AlphabeticalListOfProduct" Property="UnitPrice" Title="Unit Price">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.AlphabeticalListOfProduct" Property="UnitsInStock" Title="Units In Stock">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.AlphabeticalListOfProduct" Property="UnitsOnOrder" Title="Units On Order">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.AlphabeticalListOfProduct" Property="ReorderLevel" Title="Reorder Level">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.AlphabeticalListOfProduct" Property="Discontinued" Title="Discontinued">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.AlphabeticalListOfProduct" Property="CategoryName" Title="Category Name">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
