@page "/current-product-lists"
@layout MainLayout
@inherits NorthwindBlazor.Pages.CurrentProductListsComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Current Product Lists">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getCurrentProductListsResult" TItem="NorthwindBlazor.Models.Northwind.CurrentProductList">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.CurrentProductList" Property="ProductID" Title="Product ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.CurrentProductList" Property="ProductName" Title="Product Name">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
