@page "/customers"
@layout MainLayout
@inherits NorthwindBlazor.Pages.CustomersComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent @ref="content1" Container="main">
  <ChildContent>
    <RadzenHeading @ref="pageTitle" Size="H1" Text="Customers">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton @ref="button0" Icon="add_circle_outline" style="margin-bottom: 10px;" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getCustomersResult)" TItem="Customer" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Customer" Context="data" Property="CustomerID" Title="Customer ID" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Customer" Context="data" Property="CompanyName" Title="Company Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Customer" Context="data" Property="ContactName" Title="Contact Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Customer" Context="data" Property="ContactTitle" Title="Contact Title" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Customer" Context="data" Property="Address" Title="Address" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Customer" Context="data" Property="City" Title="City" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Customer" Context="data" Property="Region" Title="Region" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Customer" Context="data" Property="PostalCode" Title="Postal Code" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Customer" Context="data" Property="Country" Title="Country" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Customer" Context="data" Property="Phone" Title="Phone" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Customer" Context="data" Property="Fax" Title="Fax" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Customer" Context="data" Filterable="false" Sortable="false" Bubble="false" Width="70px">
              <Template Context="data">
                <RadzenButton @ref="gridDeleteButton" ButtonStyle="danger" Icon="close" Size="sm" Click="@((args) =>GridDeleteButtonClick(args, data))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
