@page "/customer-and-suppliers-by-cities"
@layout MainLayout
@inherits NorthwindBlazor.Pages.CustomerAndSuppliersByCitiesComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Customer And Suppliers By Cities">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getCustomerAndSuppliersByCitiesResult" TItem="NorthwindBlazor.Models.Northwind.CustomerAndSuppliersByCity">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.CustomerAndSuppliersByCity" Property="City" Title="City">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.CustomerAndSuppliersByCity" Property="CompanyName" Title="Company Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.CustomerAndSuppliersByCity" Property="ContactName" Title="Contact Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.CustomerAndSuppliersByCity" Property="Relationship" Title="Relationship">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
