@page "/invoices"
@layout MainLayout
@inherits NorthwindBlazor.Pages.InvoicesComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Invoices">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getInvoicesResult" TItem="NorthwindBlazor.Models.Northwind.Invoice">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="ShipName" Title="Ship Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="ShipAddress" Title="Ship Address">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="ShipCity" Title="Ship City">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="ShipRegion" Title="Ship Region">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="ShipPostalCode" Title="Ship Postal Code">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="ShipCountry" Title="Ship Country">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="CustomerID" Title="Customer ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="CustomerName" Title="Customer Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="Address" Title="Address">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="City" Title="City">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="Region" Title="Region">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="PostalCode" Title="Postal Code">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="Country" Title="Country">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="Salesperson" Title="Salesperson">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="OrderID" Title="Order ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="OrderDate" FormatString="{0:MM/dd/yyyy}" Title="Order Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="RequiredDate" FormatString="{0:MM/dd/yyyy}" Title="Required Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="ShippedDate" FormatString="{0:MM/dd/yyyy}" Title="Shipped Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="ShipperName" Title="Shipper Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="ProductID" Title="Product ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="ProductName" Title="Product Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="UnitPrice" Title="Unit Price">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="Quantity" Title="Quantity">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="Discount" Title="Discount">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="ExtendedPrice" Title="Extended Price">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Invoice" Property="Freight" Title="Freight">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
