@page "/invoices"
@layout MainLayout
@inherits NorthwindBlazor.Pages.InvoicesComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent @ref="content1" Container="main">
  <ChildContent>
    <RadzenHeading @ref="pageTitle" Size="H1" Text="Invoices">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getInvoicesResult)" TItem="Invoice">
          <Columns>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="ShipName" Title="Ship Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="ShipAddress" Title="Ship Address" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="ShipCity" Title="Ship City" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="ShipRegion" Title="Ship Region" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="ShipPostalCode" Title="Ship Postal Code" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="ShipCountry" Title="Ship Country" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="CustomerID" Title="Customer ID" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="CustomerName" Title="Customer Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="Address" Title="Address" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="City" Title="City" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="Region" Title="Region" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="PostalCode" Title="Postal Code" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="Country" Title="Country" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="Salesperson" Title="Salesperson" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="OrderID" Title="Order ID" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Format="date-time" Property="OrderDate" FormatString="{0:d}" Title="Order Date" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Format="date-time" Property="RequiredDate" FormatString="{0:d}" Title="Required Date" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Format="date-time" Property="ShippedDate" FormatString="{0:d}" Title="Shipped Date" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="ShipperName" Title="Shipper Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="ProductID" Title="Product ID" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Property="ProductName" Title="Product Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Format="decimal" Property="UnitPrice" Title="Unit Price" Type="number">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Format="int16" Property="Quantity" Title="Quantity" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Format="float" Property="Discount" Title="Discount" Type="number">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Format="decimal" Property="ExtendedPrice" Title="Extended Price" Type="number">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Invoice" Context="data" Format="decimal" Property="Freight" Title="Freight" Type="number">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
