@page "/order-details-extendeds"
@layout MainLayout
@inherits NorthwindBlazor.Pages.OrderDetailsExtendedsComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Order Details Extendeds">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getOrderDetailsExtendedsResult" TItem="NorthwindBlazor.Models.Northwind.OrderDetailsExtended">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.OrderDetailsExtended" Property="OrderID" Title="Order ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.OrderDetailsExtended" Property="ProductID" Title="Product ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.OrderDetailsExtended" Property="ProductName" Title="Product Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.OrderDetailsExtended" Property="UnitPrice" Title="Unit Price">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.OrderDetailsExtended" Property="Quantity" Title="Quantity">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.OrderDetailsExtended" Property="Discount" Title="Discount">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.OrderDetailsExtended" Property="ExtendedPrice" Title="Extended Price">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
