@page "/order-subtotals"
@layout MainLayout
@inherits NorthwindBlazor.Pages.OrderSubtotalsComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Order Subtotals">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getOrderSubtotalsResult" TItem="NorthwindBlazor.Models.Northwind.OrderSubtotal">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.OrderSubtotal" Property="OrderID" Title="Order ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.OrderSubtotal" Property="Subtotal" Title="Subtotal">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
