@page "/product-sales-for-1997-s"
@layout MainLayout
@inherits NorthwindBlazor.Pages.ProductSalesFor1997SComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Product Sales For 1997 S">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getProductSalesFor1997sResult" TItem="NorthwindBlazor.Models.Northwind.ProductSalesFor1997">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.ProductSalesFor1997" Property="CategoryName" Title="Category Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.ProductSalesFor1997" Property="ProductName" Title="Product Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.ProductSalesFor1997" Property="ProductSales" Title="Product Sales">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
