@page "/products-by-categories"
@layout MainLayout
@inherits NorthwindBlazor.Pages.ProductsByCategoriesComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Products By Categories">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getProductsByCategoriesResult" TItem="NorthwindBlazor.Models.Northwind.ProductsByCategory">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.ProductsByCategory" Property="CategoryName" Title="Category Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.ProductsByCategory" Property="ProductName" Title="Product Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.ProductsByCategory" Property="QuantityPerUnit" Title="Quantity Per Unit">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.ProductsByCategory" Property="UnitsInStock" Title="Units In Stock">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.ProductsByCategory" Property="Discontinued" Title="Discontinued">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
