@page "/products-above-average-prices"
@layout MainLayout
@inherits NorthwindBlazor.Pages.ProductsAboveAveragePricesComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Products Above Average Prices">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getProductsAboveAveragePricesResult" TItem="NorthwindBlazor.Models.Northwind.ProductsAboveAveragePrice">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.ProductsAboveAveragePrice" Property="ProductName" Title="Product Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.ProductsAboveAveragePrice" Property="UnitPrice" Title="Unit Price">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
