@page "/quarterly-orders"
@layout MainLayout
@inherits NorthwindBlazor.Pages.QuarterlyOrdersComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Quarterly Orders">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getQuarterlyOrdersResult" TItem="NorthwindBlazor.Models.Northwind.QuarterlyOrder">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.QuarterlyOrder" Property="CustomerID" Title="Customer ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.QuarterlyOrder" Property="CompanyName" Title="Company Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.QuarterlyOrder" Property="City" Title="City">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.QuarterlyOrder" Property="Country" Title="Country">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
