@page "/regions"
@layout MainLayout
@inherits NorthwindBlazor.Pages.RegionsComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Regions">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getRegionsResult" TItem="NorthwindBlazor.Models.Northwind.Region" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Region" Property="RegionID" Title="Region ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Region" Property="RegionDescription" Title="Region Description">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Region" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="northwindBlazorModelsNorthwindRegion">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, northwindBlazorModelsNorthwindRegion))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
