@page "/sales-totals-by-amounts"
@layout MainLayout
@inherits NorthwindBlazor.Pages.SalesTotalsByAmountsComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Sales Totals By Amounts">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getSalesTotalsByAmountsResult" TItem="NorthwindBlazor.Models.Northwind.SalesTotalsByAmount">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.SalesTotalsByAmount" Property="SaleAmount" Title="Sale Amount">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.SalesTotalsByAmount" Property="OrderID" Title="Order ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.SalesTotalsByAmount" Property="CompanyName" Title="Company Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.SalesTotalsByAmount" Property="ShippedDate" FormatString="{0:MM/dd/yyyy}" Title="Shipped Date">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
