@page "/sales-totals-by-amounts"
@layout MainLayout
@inherits NorthwindBlazor.Pages.SalesTotalsByAmountsComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent @ref="content1" Container="main">
  <ChildContent>
    <RadzenHeading @ref="pageTitle" Size="H1" Text="Sales Totals By Amounts">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getSalesTotalsByAmountsResult)" TItem="SalesTotalsByAmount">
          <Columns>
            <RadzenGridColumn TItem="SalesTotalsByAmount" Context="data" Format="decimal" Property="SaleAmount" Title="Sale Amount" Type="number">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="SalesTotalsByAmount" Context="data" Property="OrderID" Title="Order ID" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="SalesTotalsByAmount" Context="data" Property="CompanyName" Title="Company Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="SalesTotalsByAmount" Context="data" Format="date-time" Property="ShippedDate" FormatString="{0:d}" Title="Shipped Date" Type="string">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
