@page "/sales-by-categories"
@layout MainLayout
@inherits NorthwindBlazor.Pages.SalesByCategoriesComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Sales By Categories">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getSalesByCategoriesResult" TItem="NorthwindBlazor.Models.Northwind.SalesByCategory">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.SalesByCategory" Property="CategoryID" Title="Category ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.SalesByCategory" Property="CategoryName" Title="Category Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.SalesByCategory" Property="ProductName" Title="Product Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.SalesByCategory" Property="ProductSales" Title="Product Sales">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
