@page "/shippers"
@layout MainLayout
@inherits NorthwindBlazor.Pages.ShippersComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent @ref="content1" Container="main">
  <ChildContent>
    <RadzenHeading @ref="pageTitle" Size="H1" Text="Shippers">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton @ref="button0" Icon="add_circle_outline" style="margin-bottom: 10px;" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@(getShippersResult)" TItem="Shipper" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="Shipper" Context="data" Property="ShipperID" Title="Shipper ID" Type="integer">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Shipper" Context="data" Property="CompanyName" Title="Company Name" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Shipper" Context="data" Property="Phone" Title="Phone" Type="string">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Shipper" Context="data" Filterable="false" Sortable="false" Bubble="false" Width="70px">
              <Template Context="data">
                <RadzenButton @ref="gridDeleteButton" ButtonStyle="danger" Icon="close" Size="sm" Click="@((args) =>GridDeleteButtonClick(args, data))">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
