@page "/shippers"
@layout MainLayout
@inherits NorthwindBlazor.Pages.ShippersComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Shippers">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Add" Click="@Button0Click">
        </RadzenButton>
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getShippersResult" TItem="NorthwindBlazor.Models.Northwind.Shipper" RowSelect="@Grid0RowSelect">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Shipper" Property="ShipperID" Title="Shipper ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Shipper" Property="CompanyName" Title="Company Name">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Shipper" Property="Phone" Title="Phone">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.Shipper" Filterable="false" Sortable="false" Width="70px" TextAlign="TextAlign.Center">
              <Template Context="northwindBlazorModelsNorthwindShipper">
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="close" Size="ButtonSize.Small" Click="@((args) =>GridDeleteButtonClick(args, northwindBlazorModelsNorthwindShipper))" @onclick:stopPropagation="true">
                </RadzenButton>
              </Template>
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
