@page "/summary-of-sales-by-years"
@layout MainLayout
@inherits NorthwindBlazor.Pages.SummaryOfSalesByYearsComponent

@using Radzen
@using Radzen.Blazor
@using NorthwindBlazor.Models.Northwind
<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Summary Of Sales By Years">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenGrid @ref="grid0" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Data="@getSummaryOfSalesByYearsResult" TItem="NorthwindBlazor.Models.Northwind.SummaryOfSalesByYear">
          <Columns>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.SummaryOfSalesByYear" Property="ShippedDate" FormatString="{0:MM/dd/yyyy}" Title="Shipped Date">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.SummaryOfSalesByYear" Property="OrderID" Title="Order ID">
            </RadzenGridColumn>
            <RadzenGridColumn TItem="NorthwindBlazor.Models.Northwind.SummaryOfSalesByYear" Property="Subtotal" Title="Subtotal">
            </RadzenGridColumn>
          </Columns>
        </RadzenGrid>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
