<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Product: {{product?.ProductName}}">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Add" [allowAdd]="false" [allowDelete]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getNorthwindProductsCount" [data]="getNorthwindProductsResult" emptyText="No records to display." (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="ProductName" title="Product Name" type="string">
        </rz-grid-column>
        <rz-grid-column filterProperty="Supplier.CompanyName" format="int32" property="SupplierID" sortProperty="Supplier.CompanyName" title="Supplier" type="integer">
          <ng-template let-data gridColumnTemplate>
          {{data?.Supplier?.CompanyName}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column property="QuantityPerUnit" title="Quantity Per Unit" type="string">
        </rz-grid-column>
        <rz-grid-column format="double" property="UnitPrice" title="Unit Price" type="number">
          <ng-template let-data gridColumnTemplate>
          {{ data.UnitPrice | currency}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="int32" property="UnitsInStock" title="Units In Stock" type="integer">
        </rz-grid-column>
        <rz-grid-column format="int32" property="UnitsOnOrder" title="Units On Order" type="integer">
        </rz-grid-column>
        <rz-grid-column format="int32" property="ReorderLevel" title="Reorder Level" type="integer">
        </rz-grid-column>
        <rz-grid-column property="Discontinued" title="Discontinued" type="boolean">
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
