<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Regions">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Add" [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getRegionsCount" [data]="getRegionsResult" emptyText="No records to display." (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="RegionDescription" title="Region Description" type="string">
        </rz-grid-column>
        <rz-grid-column [filterable]="false" [sortable]="false" width="170px">
          <ng-template let-data gridColumnTemplate>
            <rz-button #territoriesButton text="Territories" (click)="territoriesButtonClick($event, data)">
            </rz-button>
          </ng-template>
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
