<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 submitText="Save" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field property="Email" [required]="true" title="Email" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-lookup-form-field title="Roles" property="RoleNames" [data]="roles" [multiple]="true" textProperty="Name" valueProperty="Name" requiredText="is required" type="lookup">
        </rz-lookup-form-field>
        <rz-password-form-field property="Password" [required]="true" title="Password" requiredText="is required" type="password">
        </rz-password-form-field>
        <rz-password-form-field property="ConfirmPassword" compare="Password" [required]="true" title="Confirm password" requiredText="is required" type="password">
        </rz-password-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
