<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (loadData)="form0LoadData($event)" (submit)="form0Submit($event)">
        <rz-string-form-field property="TerritoryDescription" [required]="true" requiredText="is required" title="Territory Description" type="string">
        </rz-string-form-field>
        <rz-lookuppopup-form-field [count]="getRegionsCount" [data]="getRegionsResult" placeholder="Choose Region" property="RegionID" [required]="true" requiredText="is required" textProperty="RegionDescription" title="Region" valueProperty="RegionID" type="lookuppopup">
        </rz-lookuppopup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
