<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-lookup-form-field [data]="getEmployeesResult" property="EmployeeID" [required]="true" textProperty="LastName" title="Employee" valueProperty="EmployeeID" placeholder="Choose Employee" requiredText="is required" type="lookup">
        </rz-lookup-form-field>
        <rz-lookup-form-field [data]="getTerritoriesResult" property="TerritoryID" [required]="true" textProperty="TerritoryDescription" title="Territory" valueProperty="TerritoryID" placeholder="Choose Territory" requiredText="is required" type="lookup">
        </rz-lookup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
