<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Order Details">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Add" [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getNorthwindOrderDetailsCount" [data]="getNorthwindOrderDetailsResult" emptyText="No records to display." (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column format="int32" property="OrderID" title="Order" width="160px" type="integer">
          <ng-template let-data gridColumnTemplate>
            <rz-button #orderButton [style]="{'width':'140px'}" [text]="data?.OrderID" (click)="orderButtonClick($event, data)">
            </rz-button>
          </ng-template>
        </rz-grid-column>
        <rz-grid-column filterProperty="NorthwindProduct.ProductName" sortProperty="NorthwindProduct.ProductName" title="Product" width="360px" type="string">
          <ng-template let-data gridColumnTemplate>
            <rz-button #productButton [style]="{'width':'340px'}" [text]="data?.NorthwindProduct?.ProductName" (click)="productButtonClick($event, data)">
            </rz-button>
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="double" property="UnitPrice" title="Unit Price" type="number">
          <ng-template let-data gridColumnTemplate>
          {{ data.UnitPrice | currency}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="int32" property="Quantity" title="Quantity" type="integer">
        </rz-grid-column>
        <rz-grid-column format="single" property="Discount" title="Discount" type="number">
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
