<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field property="CompanyName" [required]="false" title="Company Name" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="ContactName" [required]="false" title="Contact Name" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="ContactTitle" [required]="false" title="Contact Title" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Address" [required]="false" title="Address" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="City" [required]="false" title="City" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Region" [required]="false" title="Region" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="PostalCode" [required]="false" title="Postal Code" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Country" [required]="false" title="Country" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Phone" [required]="false" title="Phone" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Fax" [required]="false" title="Fax" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="HomePage" [required]="false" title="Home Page" requiredText="is required" type="string">
        </rz-string-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
