<rz-content #content1 container="main">
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #closeLabel [style]="{'fontWeight':'bold'}" text="Item no longer available." *ngIf="!canEdit">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #closeButton buttonStyle="secondary" [style]="{'marginBottom':'20px'}" text="Close" *ngIf="!canEdit" (click)="closeButtonClick($event)">
      </rz-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="taskstatus" *ngIf="canEdit" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field property="Name" [required]="false" title="Name" [maxLength]="256" requiredText="is required" type="string">
        </rz-string-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
