<rz-content #content1 container="main">
  <rz-heading #heading8 size="H1" [style]="{'display':'inline-block','marginRight':'1rem'}" text="Dashboard">
  </rz-heading>
  <rz-heading #heading9 size="H3" [style]="{'display':'inline-block','marginLeft':'0px'}" text="| statistics and overview">
  </rz-heading>
  <div [ngStyle]="{}" class="row">
    <div class="col-xl-3 col-lg-6" [ngStyle]="{'marginBottom':'1rem'}">
      <rz-card #card0 [style]="{'borderRadius':'','display':'block'}">
        <div class="row align-items-center">
          <div class="col-6" [ngStyle]="{}">
            <rz-heading #heading0 size="H5" [style]="{'display':'inline'}" text="Total sales">
            </rz-heading>
          </div>
          <div class="col-6">
            <rz-heading #heading1 size="H3" [style]="{'backgroundColor':'rgba(0, 0, 0, 0)','color':'#479cc8','display':'block','float':'none','fontSize':'1.75rem','marginBottom':'0px','textAlign':'right'}" [text]="totalSales | currency:'USD':'symbol':'2.0-0'">
            </rz-heading>
          </div>
        </div>
        <rz-progressbar #progressbar0 [showValue]="false" [style]="{'height':'8px','marginBottom':'0.5rem','marginTop':'2rem'}" [value]="totalSales * 100 / salesTarget">
        </rz-progressbar>
        <div class="row align-items-center">
          <div class="col-6">
            <rz-heading #heading3 size="H5" [style]="{'color':'#5d717b','display':'inline'}" text="Target">
            </rz-heading>
          </div>
          <div class="col-6">
            <rz-heading #heading4 size="H5" [style]="{'color':'#479cc8','display':'block','float':'none','marginBottom':'0px','textAlign':'right'}" [text]="totalSales / salesTarget | percent">
            </rz-heading>
          </div>
        </div>
      </rz-card>
    </div>
    <div class="col-xl-3 col-lg-6" [ngStyle]="{'marginBottom':'1rem'}">
      <rz-card #card3 [style]="{'borderRadius':'5px','display':'block','paddingBottom':'8px'}">
        <div class="row align-items-center" [ngStyle]="{'marginLeft':'0px','marginRight':'0px'}">
          <div>
            <rz-heading #heading12 size="H5" [style]="{'display':'inline','marginTop':'10px','width':'undefinedpx'}" text="Downloads">
            </rz-heading>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12" [ngStyle]="{'textAlign':'center'}">
            <rz-gauge #gauge0 [max]="100" [min]="0" [style]="{'height':'96px'}" text="+74%" [value]="74">
            </rz-gauge>
          </div>
        </div>
      </rz-card>
    </div>
    <div class="col-xl-3 col-lg-6">
      <rz-card #card1 [style]="{'display':'block','marginBottom':'1rem'}">
        <div class="row align-items-center">
          <div class="col-6">
            <rz-heading #heading2 size="H5" [style]="{'display':'inline'}" text="New customers">
            </rz-heading>
          </div>
          <div class="col-6">
            <rz-heading #heading5 size="H3" [style]="{'backgroundColor':'rgba(0, 0, 0, 0)','color':'#5dbf74','display':'block','float':'none','fontSize':'1.75rem','marginBottom':'0px','textAlign':'right'}" text="576">
            </rz-heading>
          </div>
        </div>
        <rz-sparkline #sparkline0 color="#5dbf74" [data]="customers" [style]="{'display':'inline-block','marginTop':'22px','width':'100%'}">
        </rz-sparkline>
        <div class="row align-items-center">
          <div class="col-6">
            <rz-heading #heading6 size="H5" [style]="{'color':'#5d717b','display':'inline'}" text="2017">
            </rz-heading>
          </div>
          <div class="col-6">
            <rz-heading #heading7 size="H5" [style]="{'color':'#5d717b','display':'block','float':'none','marginBottom':'0px','textAlign':'right'}" text="2018">
            </rz-heading>
          </div>
        </div>
      </rz-card>
    </div>
    <div class="col-xl-3 col-lg-6">
      <rz-card #card2 [style]="{'display':'block','marginBottom':'16px'}">
        <div class="row align-items-center">
          <div class="col-md-12">
            <rz-heading #heading10 size="H5" [style]="{'display':'block','marginLeft':'0px','marginTop':'10px'}" text="Employee of the month">
            </rz-heading>
          </div>
        </div>
        <div class="row align-items-center" [ngStyle]="{'marginLeft':'0px','marginRight':'0px'}">
          <div>
            <rz-image #image0 [path]="employeeOfTheMonth?.Photo" [style]="{'borderRadius':'50%','height':'64px','marginRight':'1rem','width':'64px'}" *ngIf="employeeOfTheMonth">
            </rz-image>
            <rz-heading #heading11 size="H5" [style]="{'color':'#5d717b','display':'inline-block','lineHeight':'66px','marginBottom':'0px'}" [text]="employeeOfTheMonthName">
            </rz-heading>
          </div>
        </div>
      </rz-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <rz-card #card4 [style]="{'display':'block','marginBottom':'1rem'}">
        <rz-button #button1 buttonStyle="secondary" icon="file_download" [style]="{'float':'right'}" text="Export" (click)="button1Click($event)">
        </rz-button>
        <rz-heading #heading13 size="H3" [style]="{'marginBottom':'22px'}" text="Employees">
        </rz-heading>
        <rz-grid #grid0 addText="Add" [allowPaging]="true" [allowSorting]="true" [count]="getEmployeesCount" [data]="getEmployeesResult" emptyText="No records to display." [isLoading]="true" [pageSize]="5" [style]="{'height':'377px'}" (loadData)="grid0LoadData($event)">
          <rz-grid-column sortProperty="FirstName" [sortable]="true" title="Employee">
            <ng-template let-data gridColumnTemplate>
              <rz-image #image1 [path]="data?.Photo" [style]="{'borderRadius':'50%','height':'40px','width':'40px'}">
              </rz-image>
              <rz-label #label0 text="{{data?.FirstName}} {{data?.LastName}}">
              </rz-label>
            </ng-template>
          </rz-grid-column>
          <rz-grid-column property="City" title="City" type="string">
          </rz-grid-column>
          <rz-grid-column property="Country" title="Country" width="100px" type="string">
            <ng-template let-data gridColumnTemplate>
              <rz-image #image2 path="/assets/images/{{data?.Country?.toLowerCase()}}.png" [style]="{'display':'block','marginLeft':'auto','marginRight':'auto','width':'40px'}">
              </rz-image>
            </ng-template>
          </rz-grid-column>
          <rz-grid-column property="HomePhone" title="Home Phone" type="string">
          </rz-grid-column>
        </rz-grid>
      </rz-card>
    </div>
    <div class="col-lg-6">
      <rz-card #card5 [style]="{'display':'block','marginBottom':'1rem'}">
        <rz-selectbar #selectbar0 [style]="{'float':'right'}" [(ngModel)]="selectedYear" name="selectbar0" (change)="selectbar0Change($event)">
          <rz-selectbar-option text="2016" value="2016">
          </rz-selectbar-option>
          <rz-selectbar-option text="2017" value="2017">
          </rz-selectbar-option>
          <rz-selectbar-option text="2018" value="2018">
          </rz-selectbar-option>
        </rz-selectbar>
        <rz-heading #sales size="H3" [style]="{'marginBottom':'22px'}" text="Product sales">
        </rz-heading>
        <rz-chart #chart0 categoryProperty="Date" chartType="Area" [colors]="['#e6ecef','#479cc8','#5dbf74','#ff6d41','#68d5c8','#f9777f','#cb6992','#e6c54f']" [data]="salesData" [legend]="true" series="CategoryName" [style]="{'height':'377px','width':'100%'}" valueProperty="Total">
        </rz-chart>
      </rz-card>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <rz-card #card7 [style]="{'display':'block'}">
        <rz-heading #heading15 size="H3" [style]="{'marginBottom':'22px'}" text="Pending shipments">
        </rz-heading>
        <rz-scheduler #scheduler0 [data]="orders" defaultDate="2018-01-01" endProperty="RequiredDate" idProperty="OrderID" startProperty="OrderDate" [style]="{'height':'468px'}" titleProperty="ShipCity">
        </rz-scheduler>
      </rz-card>
    </div>
    <div class="col-lg-6">
      <rz-card #card6 [style]="{'display':'block'}">
        <rz-heading #heading14 size="H3" [style]="{'marginBottom':'22px'}" text="HQ Address">
        </rz-heading>
        <rz-googlemap #googlemap0 apiKey="AIzaSyAJLieBqU3cH3BA3OxUlKDYjpv7Bh6dHbY" [center]="{'lat':47.642232,'lng':-122.13679100000002}" [style]="{'height':'500px','marginBottom':'-1rem','marginLeft':'-1rem','marginRight':'-1rem','marginTop':'-1rem'}" [zoom]="17">
          <rz-googlemap-marker [position]="{'lat':47.642232,'lng':-122.13679100000002}">
          </rz-googlemap-marker>
        </rz-googlemap>
      </rz-card>
    </div>
  </div>
</rz-content>
