<rz-content #content1 container="main">
  <div  class="row">
    <div class="col-md-6">
      <rz-card #card2>
        <rz-fieldset #fieldset2  text="Employees">
          <rz-datalist #datalist0 [allowPaging]="true" [count]="getEmployeesCount" [data]="getEmployeesResult" defaultRowText="Template for index" emptyText=" " [pageSize]="1" (loadData)="datalist0LoadData($event)">
            <ng-template let-data datalistTemplate>
              <div  class="row">
                <div class="col-md-3">
                  <rz-image #image0 [path]="data?.Photo" >
                  </rz-image>
                </div>
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-12">
                      <rz-heading #heading0 size="H1" [text]="data?.FirstName + ' ' + data?.LastName">
                      </rz-heading>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <rz-heading #heading1 size="H5" [text]="data?.Notes">
                      </rz-heading>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </rz-datalist>
        </rz-fieldset>
      </rz-card>
    </div>
    <div class="col-md-6">
      <rz-tabs #tabs0 [style]="{'width':''}">
        <rz-tabs-item [selected]="true" text="Sales">
          <rz-pie #pie0 categoryProperty="Customer.CompanyName" chartType="Pie" [data]="getOrdersResult" [labels]="true" [legend]="true" [style]="{'height':'300px'}" valueProperty="Freight">
          </rz-pie>
        </rz-tabs-item>
        <rz-tabs-item [selected]="false" text="Schedule">
          <rz-scheduler #scheduler0 [data]="ordersByCustomer" endProperty="ShippedDate" startProperty="OrderDate" [style]="{'height':'300px'}" titleProperty="Customer.CompanyName">
          </rz-scheduler>
        </rz-tabs-item>
      </rz-tabs>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <rz-card #card0>
        <rz-fieldset #fieldset0  text="LAST 10 ORDERS BY EMPLOYEE">
          <rz-grid #grid0 addText="Add" [data]="getOrdersResult" emptyText=" " [expandableGroups]="false" [(value)]="order" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
            <rz-grid-column filterProperty="Customer.CompanyName" property="CustomerID" sortProperty="Customer.CompanyName" title="Customer" type="string">
              <ng-template let-data gridColumnTemplate>
              {{data?.Customer?.CompanyName}}
              </ng-template>
            </rz-grid-column>
            <rz-grid-column format="date-time" property="OrderDate" title="Order Date" type="string">
              <ng-template let-data gridColumnTemplate>
              {{data?.OrderDate | utcDate}}
              </ng-template>
            </rz-grid-column>
            <rz-grid-column format="decimal" property="Freight" title="Amount" type="number">
              <ng-template let-data gridColumnTemplate>
              {{ data.Freight * 100 | currency}}
              </ng-template>
            </rz-grid-column>
          </rz-grid>
        </rz-fieldset>
      </rz-card>
    </div>
    <div class="col-md-6">
      <rz-card #card1>
        <rz-fieldset #fieldset1  text="ORDERS BY CUSTOMER">
          <rz-chart #chart0 [barPadding]="8" categoryProperty="OrderDate" chartType="Column" [data]="ordersByCustomer" [legend]="false" series="Customer.CompanyName"  valueProperty="Freight">
          </rz-chart>
        </rz-fieldset>
      </rz-card>
    </div>
  </div>
</rz-content>
