<rz-header #header0 [style]="{}">
  <div class="row justify-content-start align-items-center" [ngStyle]="{'height':'64px'}">
    <div class="d-flex align-items-center col-7">
      <rz-sidebar-toggle #sidebarToggle0 [style]="{}">
      </rz-sidebar-toggle>
      <rz-image #image1 path="/assets/images/logo.png" [style]="{'borderRadius':'50%','height':'50px','width':'50px'}">
      </rz-image>
      <rz-label #label0 [style]="{'fontSize':'20px','marginLeft':'16px'}" text="RadzenCRM Demo">
      </rz-label>
    </div>
    <div class="text-lg-right  justify-content-end  d-flex align-items-end col-5">
      <rz-profilemenu #profilemenu0 [style]="{}" *ngIf="security?.isAuthenticated()" (click)="profilemenu0Click($event)">
        <rz-profilemenu-item icon="settings" path="profile" text="Profile" *ngIf="security?.isInRole(['Authenticated'])">
        </rz-profilemenu-item>
        <rz-profilemenu-item icon="person" path="application-users" text="Users" *ngIf="security?.user?.isInRole('Sales Manager')">
        </rz-profilemenu-item>
        <rz-profilemenu-item icon="security" path="application-roles" text="Roles" *ngIf="security?.user?.isInRole('Sales Manager')">
        </rz-profilemenu-item>
        <rz-profilemenu-item icon="power_settings_new" text="Logout">
        </rz-profilemenu-item>
        <ng-template let-data profilemenuTemplate>
          <rz-label #label1 [style]="{}" text="{{userData?.FirstName}} {{userData?.LastName}}">
          </rz-label>
          <rz-image #image0 [path]="userData?.Picture" [style]="{'border':'2px solid ','borderRadius':'16px','height':'32px','width':'32px'}">
          </rz-image>
        </ng-template>
      </rz-profilemenu>
    </div>
  </div>
</rz-header>
<rz-body #body0>
  <rz-content-container #main name="main">
  </rz-content-container>
</rz-body>
<rz-sidebar #sidebar0 [stretch]="false">
  <rz-panelmenu #panelmenu0 [style]="{'height':'100%'}">
    <rz-panelmenu-item icon="home" path="home" text="Dashboard" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item icon="work" path="tasks" text="Tasks" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item icon="perm_contact_calendar" path="contacts" text="Contacts" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item icon="shopping_cart" path="opportunities" text="Opportunities" *ngIf="security?.isInRole(['Authenticated'])">
    </rz-panelmenu-item>
    <rz-panelmenu-item icon="settings" text="Settings" *ngIf="security?.user?.isInRole('Sales Manager')">
      <rz-panelmenu-item path="opportunity-statuses" text="Opportunity Statuses">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="task-statuses" text="Task Statuses">
      </rz-panelmenu-item>
      <rz-panelmenu-item path="task-types" text="Task Types">
      </rz-panelmenu-item>
    </rz-panelmenu-item>
  </rz-panelmenu>
</rz-sidebar>
<rz-footer #footer0>
  <rz-label #footerText text="CRM, Copyright &copy; 2019">
  </rz-label>
</rz-footer>
<router-outlet></router-outlet>
