<div class="row">
  <div class="col-md-12">
    <rz-grid #grid0 [allowDelete]="true" [allowAdd]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getProductsCount" [data]="getProductsResult" emptyText="No records to display." (loadData)="grid0LoadData($event)" (delete)="grid0Delete($event)" (add)="grid0Add($event)" (rowSelect)="grid0RowSelect($event)">
      <rz-grid-column format="int32" property="Id" title="Id" type="integer">
      </rz-grid-column>
      <rz-grid-column property="ProductName" title="Product Name" type="string">
      </rz-grid-column>
      <rz-grid-column property="ProductPicture" title="Product Picture" type="string">
        <ng-template let-data gridColumnTemplate>
        <img width='50' height='50' src='{{data?.ProductPicture}}' />
        </ng-template>
      </rz-grid-column>
      <rz-grid-column format="double" property="ProductPrice" title="Product Price" type="number">
      </rz-grid-column>
    </rz-grid>
  </div>
</div>
