<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Territories">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Add" [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getTerritoriesCount" [data]="getTerritoriesResult" emptyText="No records to display." (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="TerritoryDescription" title="Territory Description" type="string">
        </rz-grid-column>
        <rz-grid-column filterProperty="Region.RegionDescription" sortProperty="Region.RegionDescription" title="Region" width="160px" type="string">
          <ng-template let-data gridColumnTemplate>
            <rz-button #regionButton [style]="{'width':'140px'}" [text]="data?.Region?.RegionDescription" (click)="regionButtonClick($event, data)">
            </rz-button>
          </ng-template>
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
