<rz-content #content1 container="main">
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #closeLabel [style]="{'fontWeight':'bold'}" text="Item no longer available." *ngIf="!canEdit">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #closeButton buttonStyle="secondary" [style]="{'marginBottom':'20px'}" text="Close" *ngIf="!canEdit" (click)="closeButtonClick($event)">
      </rz-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="product" *ngIf="canEdit" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field property="ProductName" [required]="true" title="Product Name" [maxLength]="255" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-number-form-field property="ProductPrice" [required]="true" title="Product Price" requiredText="is required" minText="cannot be less than" maxText="cannot be more than" type="number">
        </rz-number-form-field>
        <rz-file-form-field property="ProductPicture" [required]="true" title="Product Picture" requiredText="is required" type="file">
        </rz-file-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
