<div class="layout-wrapper">
  <div class="layout-container menu-layout-static"
       [ngClass]="{'layout-menu-static-inactive': !menuActive,
       'layout-menu-static-active': mobileMenuActive}">
    <div class="topbar clearfix">
      <div class="topbar-left">
      </div>
      <div class="topbar-right">
        <a id="menu-button" href="#" (click)="onToggleMenuClick($event)">
          <i></i>
        </a>
      </div>
    </div>
    <div class="layout-menu">
      <div id="navigation" class="menu-scroll-content">
        <ul class="ultima-menu ultima-main-menu clearfix">
          <li routerLinkActive="active-menuitem">
            <a [routerLink]="['/new-releases']">New Releases</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="layout-main">
      <h1 id="title">
        <router-outlet name="title"></router-outlet>
      </h1>
      <div id="content" class="container-fluid">
        <router-outlet></router-outlet>
      </div>
      <p-dialog
        [width]="(popupRoute?.queryParams | async)?.width || 600"
        [height]="(popupRoute?.queryParams | async)?.height"
        [visible]="popupRoute"
        (onBeforeHide)="closePopup()"
        [header]="(popupRoute?.data | async)?.title"
        [modal]="true">
        <router-outlet name="popup"></router-outlet>
      </p-dialog>
    </div>
    <div class="layout-mask"></div>
  </div>
</div>
