<rz-body #body0 [style]="{}">
  <rz-image #image0 path="/assets/images/login-background.png" [style]="{'bottom':'0','height':'100%','left':'0','position':'absolute','right':'0','top':'0','width':'100%'}">
  </rz-image>
  <div class="row align-items-center justify-content-center" [ngStyle]="{'bottom':'0','height':'','left':'0','marginLeft':'0','marginRight':'0','paddingBottom':'0','paddingTop':'0','position':'absolute','right':'0','top':'0','width':''}">
    <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8" [ngStyle]="{'paddingLeft':'0px','paddingRight':'0px','position':'relative'}">
      <rz-card #card0 [style]="{'backgroundColor':'rgba(93, 113, 123, 0.9)','width':'100%'}">
        <rz-image #image1 path="/assets/images/logo.png" [style]="{'borderRadius':'64px','display':'block','height':'128px','marginLeft':'auto','marginRight':'auto','marginTop':'-72px','width':'128px'}">
        </rz-image>
        <rz-content-container #main name="main">
        </rz-content-container>
      </rz-card>
    </div>
  </div>
</rz-body>
<router-outlet></router-outlet>
