<rz-content #content1 container="main">
  <div [ngStyle]="{}" class="row">
    <div class="col-md-9">
      <rz-label #closeLabel [style]="{'fontWeight':'bold'}" text="Item no longer available." *ngIf="!canEdit">
      </rz-label>
    </div>
    <div class="col-md-3">
      <rz-button #closeButton buttonStyle="secondary" [style]="{'marginBottom':'20px'}" text="Close" *ngIf="!canEdit" (click)="closeButtonClick($event)">
      </rz-button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="opportunity" *ngIf="canEdit" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-number-form-field maxText="cannot be more than" minText="cannot be less than" property="Amount" [required]="true" requiredText="is required" title="Amount" type="number">
        </rz-number-form-field>
        <rz-lookup-form-field [data]="getContactsResult" placeholder="Choose Contact" property="ContactId" [required]="true" requiredText="is required" textProperty="Email" title="Contact" valueProperty="Id" type="lookup">
        </rz-lookup-form-field>
        <rz-lookup-form-field [data]="getOpportunityStatusesResult" placeholder="Choose OpportunityStatus" property="StatusId" [required]="true" requiredText="is required" textProperty="Name" title="Opportunity Status" valueProperty="Id" type="lookup">
        </rz-lookup-form-field>
        <rz-date-form-field property="CloseDate" [required]="true" requiredText="is required" title="Close Date" type="date">
        </rz-date-form-field>
        <rz-string-form-field property="Name" [required]="true" requiredText="is required" title="Name" type="string">
        </rz-string-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
