<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" [style]="{'marginBottom':'8px'}" text="Sign in">
  </rz-heading>
  <rz-heading #heading0 size="H5" [style]="{'marginBottom':'32px'}" text="with your RadzenCRM account">
  </rz-heading>
  <rz-template-form #templateForm0 (submit)="templateForm0Submit($event)">
    <rz-label #label0 component="Username" [style]="{'display':'block','marginBottom':'8px'}" text="Username">
    </rz-label>
    <rz-textbox #username [style]="{'display':'block','marginBottom':'16px','width':'100%'}" name="Username">
    </rz-textbox>
    <rz-label #label1 component="Password" [style]="{'display':'block','marginBottom':'8px'}" text="Password">
    </rz-label>
    <rz-password #password [style]="{'display':'block','marginBottom':'16px','width':'100%'}" name="Password">
    </rz-password>
    <rz-button #button0 buttonStyle="primary" buttonType="submit" [classList]="{}" size="md" [style]="{'display':'block','width':'100%'}" text="Sign in">
    </rz-button>
  </rz-template-form>
  <rz-heading #heading1 size="H5" [style]="{'marginBottom':'16px','marginTop':'48px','textAlign':'center'}" text="or sign in as a demo user">
  </rz-heading>
  <rz-button #button3 buttonStyle="light" [style]="{'display':'block','marginBottom':'16px','width':'100%'}" text="Sales Manager" (click)="button3Click($event)">
  </rz-button>
  <rz-heading #heading2 size="H5" [style]="{'marginBottom':'16px','marginTop':'16px','textAlign':'center'}" text="or">
  </rz-heading>
  <rz-button #button2 buttonStyle="light" [style]="{'width':'100%'}" text="Sales Representative" (click)="button2Click($event)">
  </rz-button>
  <div class="row">
    <div>
    </div>
  </div>
</rz-content>
