<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Customers">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Add" [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" columnWidth="150px" [count]="getCustomersCount" [data]="getCustomersResult" emptyText="No records to display." (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column property="CompanyName" title="Company Name" width="200px" type="string">
        </rz-grid-column>
        <rz-grid-column property="ContactName" title="Contact Name" type="string">
        </rz-grid-column>
        <rz-grid-column property="ContactTitle" title="Contact Title" type="string">
        </rz-grid-column>
        <rz-grid-column property="Address" title="Address" type="string">
        </rz-grid-column>
        <rz-grid-column property="Country" title="Country" type="string">
          <ng-template let-data gridColumnTemplate>
            <rz-image #image0 path="/assets/images/{{data?.Country?.toLowerCase()}}.png" [style]="{'height':'20px','width':'40px'}">
            </rz-image>
            <rz-label #label0 [text]="data?.Country">
            </rz-label>
          </ng-template>
        </rz-grid-column>
        <rz-grid-column property="City" title="City" type="string">
        </rz-grid-column>
        <rz-grid-column property="PostalCode" title="Postal Code" type="string">
        </rz-grid-column>
        <rz-grid-column property="Phone" title="Phone" type="string">
        </rz-grid-column>
        <rz-grid-column property="Fax" title="Fax" type="string">
        </rz-grid-column>
        <rz-grid-column [filterable]="false" [sortable]="false" title="Orders" width="140px">
          <ng-template let-data gridColumnTemplate>
            <rz-link #link0 icon="shopping_cart" [parameters]="[{'name':'CustomerID','value':data?.CustomerID}]" path="orders-by-customer-id" text="Orders">
            </rz-link>
          </ng-template>
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
