<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field [maxLength]="255" property="ProductName" [required]="true" requiredText="is required" title="Product Name" type="string">
        </rz-string-form-field>
        <rz-number-form-field maxText="cannot be more than" minText="cannot be less than" property="ProductPrice" [required]="true" requiredText="is required" title="Product Price" type="number">
        </rz-number-form-field>
        <rz-file-form-field property="ProductPictureAsString" [required]="false" requiredText="is required" title="Product Picture" chooseText="Choose" type="file">
        </rz-file-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
