<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="territory" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)" (loadData)="form0LoadData($event)">
        <rz-string-form-field property="TerritoryDescription" [required]="false" title="Territory Description" requiredText="is required" type="string">
        </rz-string-form-field>
        <rz-lookuppopup-form-field [data]="getRegionsResult" property="RegionID" [required]="false" textProperty="RegionDescription" title="Region" valueProperty="RegionID" placeholder="Choose Region" [count]="getRegionsCount" requiredText="is required" type="lookuppopup">
        </rz-lookuppopup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
