<rz-content #content1 container="main">
  <rz-heading #pageTitle size="H1" text="Orders">
  </rz-heading>
  <div class="row">
    <div class="col-md-12">
      <rz-grid #grid0 addText="Add" [allowAdd]="true" [allowDelete]="true" [allowFiltering]="true" [allowMultiSorting]="false" [allowPaging]="true" [allowSorting]="true" [count]="getNorthwindOrdersCount" [data]="getNorthwindOrdersResult" emptyText="No records to display." (add)="grid0Add($event)" (delete)="grid0Delete($event)" (loadData)="grid0LoadData($event)" (rowSelect)="grid0RowSelect($event)">
        <rz-grid-column format="int32" property="OrderID" title="Order ID" type="integer">
        </rz-grid-column>
        <rz-grid-column filterProperty="Customer.CompanyName" property="CustomerID" sortProperty="Customer.CompanyName" title="Customer" width="360px" type="string">
          <ng-template let-data gridColumnTemplate>
            <rz-button #customersButton [style]="{'width':'340px'}" [text]="data?.Customer?.CompanyName" (click)="customersButtonClick($event, data)">
            </rz-button>
          </ng-template>
        </rz-grid-column>
        <rz-grid-column filterProperty="Employee.LastName" format="int32" property="EmployeeID" sortProperty="Employee.LastName" title="Employee" width="160px" type="integer">
          <ng-template let-data gridColumnTemplate>
            <rz-button #employeesButton [style]="{'width':'140px'}" [text]="data?.Employee?.LastName" (click)="employeesButtonClick($event, data)">
            </rz-button>
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="date-time" property="OrderDate" title="Order Date" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.OrderDate | utcDate}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="date-time" property="RequiredDate" title="Required Date" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.RequiredDate | utcDate}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="date-time" property="ShippedDate" title="Shipped Date" type="string">
          <ng-template let-data gridColumnTemplate>
          {{data?.ShippedDate | utcDate}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column format="double" property="Freight" title="Freight" type="number">
          <ng-template let-data gridColumnTemplate>
          {{ data.Freight | currency}}
          </ng-template>
        </rz-grid-column>
        <rz-grid-column [filterable]="false" [sortable]="false" width="140px">
          <ng-template let-data gridColumnTemplate>
            <rz-button #orderDetailsButton text="Details" (click)="orderDetailsButtonClick($event, data)">
            </rz-button>
          </ng-template>
        </rz-grid-column>
      </rz-grid>
    </div>
  </div>
</rz-content>
