@inherits Microsoft.AspNetCore.Blazor.Layouts.BlazorLayoutComponent

<div class="rz-sidebar" style="@width">
    <div class="header fixed ng-trigger ng-trigger-open" style="margin-left: 0px;">
        <div class="row justify-content-start align-items-center">
            <div class="col-md-6 d-flex align-items-center">
                <button class="sidebar-toggle" onclick=@ToggleNavMenu>
                    <i class="material-icons d-flex align-items-center">menu</i>
                </button>
                <label>NorthwindBlazor</label>
            </div>
            <div class="col-md-6 text-lg-right">
            </div>
        </div>
    </div>
    <div class="ng-tns-c2-2 rz-sidebar ng-trigger ng-trigger-open" style="@($"top: 51px; bottom: 57px; {transform}")">
        <ul class="panel-menu ng-tns-c4-4" style="height: 100%;">
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="Categories" Match=NavLinkMatch.All>
                        <span class="navigation-item-text">Categories</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="Customers" >
                        <span class="navigation-item-text">Customers</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="CustomerCustomerDemos" >
                        <span class="navigation-item-text">Customer Customer Demos</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="CustomerDemographics" >
                        <span class="navigation-item-text">Customer Demographics</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="Employees" >
                        <span class="navigation-item-text">Employees</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="EmployeeTerritories" >
                        <span class="navigation-item-text">Employee Territories</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="Orders" >
                        <span class="navigation-item-text">Orders</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="OrderDetails" >
                        <span class="navigation-item-text">Order Details</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="Products" >
                        <span class="navigation-item-text">Products</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="Regions" >
                        <span class="navigation-item-text">Regions</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="Shippers" >
                        <span class="navigation-item-text">Shippers</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="Suppliers" >
                        <span class="navigation-item-text">Suppliers</span>
                    </NavLink>
                </div>
            </li>
            <li class="navigation-item ng-tns-c4-4 ng-star-inserted">
                <div class="navigation-item-wrapper">
                    <NavLink class="navigation-item-link ng-tns-c4-4 ng-star-inserted" href="Territories" >
                        <span class="navigation-item-text">Territories</span>
                    </NavLink>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="body ng-trigger ng-trigger-open" style="@($"margin-top: 51px;margin-bottom: 57px;{margin}")">
    <div class="content">
        @Body
    </div>
</div>
@functions {
    string transform = "";
    string margin = "margin-left: 250px;";
    string width = "width: 250px;";

    void ToggleNavMenu()
    {
        transform = transform == "" ? "transform: translateX(-100%);" : "";
        margin = margin == "margin-left: 0px;" ? "margin-left: 250px;" : "margin-left: 0px;";
        width = width == "width: 0px;" ? "width: 250px;" : "width: 0px;";
    }
}
