<!doctype html>
<html>
  <head>
  </head>
  <body>
    <p>
      This is the server-side part of the CRM application. It exposes your MS SQL or MySQL data sources as OData services.
    </p>
    <p>
      To see the client-side go to <a href="http://localhost:8000">http://localhost:8000</a>.
    </p>
  </body>
</html>
