@inherits RadzenCrm.Layouts.LoginLayoutComponent

@using Radzen
@using Radzen.Blazor
@using RadzenCrm.Models.Crm
@using Microsoft.AspNetCore.Identity
@using RadzenCrm.Models
@inject Microsoft.Extensions.Localization.IStringLocalizer<LoginLayout> L
<RadzenDialog />
<RadzenNotification />

<RadzenBody @ref="body0" style="">
  <ChildContent>
    <RadzenImage Path="/assets/images/login-background.png" style="bottom: 0; height: 100%; left: 0; position: absolute; right: 0; top: 0; width: 100%">
    </RadzenImage>
    <div class="row justify-content-center align-items-center" style="bottom: 0; left: 0; margin-left: 0; margin-right: 0; position: absolute; right: 0; top: 0">
      <div class="col-xl-3 col-lg-4 col-md-5 col-sm-8" style="padding-left: 0; padding-right: 0">
        <RadzenCard style="margin-top: 0">
          <ChildContent>
            <RadzenImage Path="/assets/images/logo.png" style="border-radius: 64px; display: block; height: 128px; margin-left: auto; margin-right: auto; margin-top: -72px; width: 128px">
            </RadzenImage>
            <RadzenContentContainer Name="main">
            @Body
            </RadzenContentContainer>
          </ChildContent>
        </RadzenCard>
      </div>
    </div>
  </ChildContent>
</RadzenBody>
