<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 submitText="Register" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field property="Email" [required]="true" requiredText="is required" title="Email" type="string">
        </rz-string-form-field>
        <rz-password-form-field property="Password" [required]="true" requiredText="is required" title="Password" type="password">
        </rz-password-form-field>
        <rz-password-form-field compare="Password" property="ConfirmPassword" [required]="true" requiredText="is required" title="Confirm password" type="password">
        </rz-password-form-field>
        <rz-string-form-field property="Country" title="Country" requiredText="is required" type="string">
        </rz-string-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
