@inherits BlazorCustomPaging.Layouts.LoginLayoutComponent

@using Radzen
@using Radzen.Blazor
@using BlazorCustomPaging.Models.Sample
<RadzenDialog />
<RadzenNotification />

<RadzenBody @ref="body0"  Expanded="true">
  <ChildContent>
    <div class="row justify-content-center">
      <div class="justify-content-center col-xl-5 col-md-7">
        <RadzenCard style="margin-top: 8rem">
          <ChildContent>
            <RadzenContentContainer Name="main">
            @Body
            </RadzenContentContainer>
          </ChildContent>
        </RadzenCard>
      </div>
    </div>
  </ChildContent>
</RadzenBody>
