<div class="row">
  <div class="col-md-12">
    <rz-form #form0 [data]="order" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
      <rz-integer-form-field property="Id" [required]="true" title="Id" requiredText="is required" type="integer">
      </rz-integer-form-field>
      <rz-date-form-field property="OrderDate" [required]="false" title="Order Date" requiredText="is required" type="date">
      </rz-date-form-field>
      <rz-string-form-field property="UserName" [required]="false" title="User Name" requiredText="is required" type="string">
      </rz-string-form-field>
    </rz-form>
  </div>
</div>
