<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field [autoComplete]="false" property="Title" [required]="false" requiredText="is required" title="Title" type="string">
        </rz-string-form-field>
        <rz-lookup-form-field [data]="getOpportunitiesResult" placeholder="Choose Opportunity" property="OpportunityId" [required]="true" requiredText="is required" textProperty="Name" title="Opportunity" valueProperty="Id" type="lookup">
        </rz-lookup-form-field>
        <rz-date-form-field property="DueDate" [required]="true" requiredText="is required" title="Due Date" type="date">
        </rz-date-form-field>
        <rz-lookup-form-field [data]="getTaskTypesResult" [multiple]="false" placeholder="Choose Type" property="TypeId" [required]="true" requiredText="is required" textProperty="Name" title="Type" valueProperty="Id" type="lookup">
          <ng-template let-data lookupFormFieldTemplate>
            <rz-icon #icon0 icon="settings_phone" [style]="{'verticalAlign': 'middle'}" *ngIf="data?.Name == 'Call'">
            </rz-icon>
            <rz-icon #icon1 icon="video_call" [style]="{'verticalAlign': 'middle'}" *ngIf="data?.Name == 'Online Meeting'">
            </rz-icon>
            <rz-icon #icon2 icon="email" [style]="{'verticalAlign': 'middle'}" *ngIf="data?.Name == 'Email'">
            </rz-icon>
            <rz-label #label0 [style]="{'verticalAlign': 'middle'}" [text]="data?.Name">
            </rz-label>
          </ng-template>
        </rz-lookup-form-field>
        <rz-lookup-form-field [data]="getTaskStatusesResult" [multiple]="false" placeholder="Choose Status" property="StatusId" [required]="true" requiredText="is required" textProperty="Name" title="Status" valueProperty="Id" type="lookup">
          <ng-template let-data lookupFormFieldTemplate>
            <rz-icon #icon3 icon="check_circle" [style]="{'verticalAlign': 'middle'}" *ngIf="data?.Name == 'Complete'">
            </rz-icon>
            <rz-icon #icon4 icon="autorenew" [style]="{'verticalAlign': 'middle'}" *ngIf="data?.Name == 'In Progress'">
            </rz-icon>
            <rz-icon #icon5 icon="cancel" [style]="{'verticalAlign': 'middle'}" *ngIf="data?.Name == 'Not Started'">
            </rz-icon>
            <rz-label #label1 [style]="{'verticalAlign': 'middle'}" [text]="data?.Name">
            </rz-label>
          </ng-template>
        </rz-lookup-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
