<rz-content #content1 container="main">
  <div class="row">
    <div class="col-md-12">
      <rz-form #form0 [data]="customer" (cancel)="form0Cancel($event)" (submit)="form0Submit($event)">
        <rz-string-form-field property="CompanyName" [required]="true" requiredText="is required" title="Company Name" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="ContactName" [required]="false" requiredText="is required" title="Contact Name" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="ContactTitle" [required]="false" requiredText="is required" title="Contact Title" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Address" [required]="false" requiredText="is required" title="Address" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="City" [required]="false" requiredText="is required" title="City" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Region" [required]="false" requiredText="is required" title="Region" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="PostalCode" [required]="false" requiredText="is required" title="Postal Code" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Country" [required]="false" requiredText="is required" title="Country" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Phone" [required]="false" requiredText="is required" title="Phone" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="Fax" [required]="false" requiredText="is required" title="Fax" type="string">
        </rz-string-form-field>
      </rz-form>
    </div>
  </div>
</rz-content>
