@page "/unauthorized"
@layout MainLayout
@inherits BlazorMultiTenant.Pages.UnauthorizedComponent

@using Radzen
@using Radzen.Blazor
@using BlazorMultiTenant.Models.Sample
@using Microsoft.AspNetCore.Identity
@using BlazorMultiTenant.Models
@using Microsoft.AspNetCore.Authorization

<RadzenContent Container="main">
  <ChildContent>
    <RadzenHeading Size="H1" Text="Unauthorized">
    </RadzenHeading>
    <div class="row">
      <div class="col-md-12">
        <RadzenHtml>
          The current user is not authorized to see this page.
        </RadzenHtml>
      </div>
    </div>
  </ChildContent>
</RadzenContent>
