<rz-content #content1 container="main">
  <rz-icon #icon0 icon="fingerprint">
  </rz-icon>
  <rz-heading #pageTitle size="H1" [style]="{'display':'inline-block'}" text="Profile">
  </rz-heading>
  <rz-tabs #tabs0>
    <rz-tabs-item [selected]="true" text="Personal">
      <rz-form #form1 [data]="personalData" submitText="Save" (cancel)="form1Cancel($event)" (submit)="form1Submit($event)">
        <rz-string-form-field property="FirstName" [required]="true" requiredText="is required" title="First Name" type="string">
        </rz-string-form-field>
        <rz-string-form-field property="LastName" [required]="true" requiredText="is required" title="Last Name" type="string">
        </rz-string-form-field>
        <rz-file-form-field property="Picture" requiredText="is required" title="Picture" type="file">
        </rz-file-form-field>
      </rz-form>
    </rz-tabs-item>
    <rz-tabs-item [selected]="false" text="Password">
      <rz-form #form3 submitText="Change password" (cancel)="form3Cancel($event)" (submit)="form3Submit($event)">
        <rz-password-form-field property="OldPassword" [required]="true" requiredText="is required" title="Old Password" type="password">
        </rz-password-form-field>
        <rz-password-form-field property="NewPassword" [required]="true" requiredText="is required" title="New Password" type="password">
        </rz-password-form-field>
        <rz-password-form-field compare="NewPassword" property="ConfirmPassword" [required]="true" requiredText="is required" title="Confirm password" type="password">
        </rz-password-form-field>
      </rz-form>
    </rz-tabs-item>
  </rz-tabs>
</rz-content>
